
body{
    font-family: 'Krona One', sans-serif;
}

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

h2{
    color: #556690;
    font-size: 48px;
}

p{
    font-size: 25px;
    color: #333333;
}

a{
    text-decoration: none;
    color: black;
}

header{
    padding: 1%;
    background-color: #F1EEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 2%;
}

.entre{
    width: 150px;
}


.costumer360{
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.costumer360_texto{
    align-items: center;
    display: flex;
    flex-direction: column;
}


.botao_conheca{
    background-color: #009EE0;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    height: 50px;
    width: 150px; 
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5);
    font-size: 15px;
}
.botao_conheca:hover{
    height: 60px;
    width: 160px;
    font-size: 17px;
}

.novidadesPortal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.novidadesPortal_explicacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 60px 0;
    

}

.explicacoesProdutos{
    display: grid;
    place-items: center;
    gap: 10px;
    order: 1;
    width: 380px;
    height: 460px;
    margin: 30px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card_cinza{
    background-color: #F1EEEE;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
}

.botao_card{
    border: none;
    text-decoration: underline;
    width: 150px;
    height: 30px;
    color: #556690;
}

.botao_card_acessibilidade{
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #556690;
    
}

.acessibilidadeSalesforce{
    display: grid;
    place-items: center;
    gap: 10px;
    order: 2;
    width: 420px;
    height: 500px;
    margin: 30px;
    border-radius: 50px;
    padding: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.reformulacaoChatbot{
    display: grid;
    place-items: center;
    gap: 10px;
    width: 380px;
    height: 460px;
    order: 3;
    margin: 30px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #add8e6;
    padding-left: 5%;
    padding-right: 5%;
}

.explicacaoCostumer360{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.explicacaoCostumer360 img{
    width: 70%; 
    height: auto;
    padding: 10%;
}

.imagem_costumer360 img{
    width: 300px
    height: 300px;
}

.botao{
    padding: 2%;
}

.p_novidades{
    text-align: center;
    font-size: 20px;
}

.noticias{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F1EEEE;
}

.texto_noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.imagem_noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
}

.contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1EEEE;
    width: 800px;

.formulario_inputs{
    box-sizing: border-box;
}


.formulario_preencher{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.formulario_inputs label{
}

.formulario_inputs input{

}

.formulario_esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formulario_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

